@import "main.scss";
@page {
    margin: 10mm; /* Set to 10mm, but you can adjust as needed */
}

html {
  font-size: 10pt; /* Base font size */
}
body {
font-family: Helvetica, Arial, sans-serif;
font-size: 1rem; /* 1rem = 10pt */
line-height: 1.5;
color: #24292e;
background-color: #fff;
padding: 1.25rem;
}
a {
color: #0366d6;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}
ul, ol {
padding-left: 1em; /* Keeping padding relative to the font size of the list */
}

li {
margin-top: 0.25em;
}

p, li {
margin-top: 0;
line-height: 1.15;
}
/* Name */
h1 {
color: #333;
margin: 0.3rem;
margin-bottom: 0;
font-size: 2rem;
}

/* Main sections */
h2 {
color: #333;
font-size: 1.3rem;
margin-top: 0.3rem;
margin-bottom: 0;
text-decoration: underline;
}

/* Job titles */
h3 {
color: #333;
font-size: 1.1rem;
margin-top: 0.2rem;
margin-bottom: 0;
}

/* Company names, slightly smaller and different color */
h4 {
color: #555;
font-size: 1.0rem;
margin-top: 0;
margin-bottom: 0;
}

/* Other job titles at the same company, same as body text size */
h5 {
color: #555;
font-size: 0.8rem;
margin-top: 0;
margin-bottom: 0;
}
